/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.visibility-button {
    vertical-align: middle;
    height: 24px;
    background: var(--wp-admin-theme-color);
    margin-right: 7px;
}

.visibility-button svg {
    fill: white;
}

.invisible .visibility-button {
    background: none;
}

.invisible .visibility-button svg {
    fill: black;
}



.tag_row > * {
    display:  inline-block;
}

.tag_row.invisible {
    opacity: 0.6;
}

.column-number .components-text-control__input {
    max-width: 50px;
}

/* Inner block button alignment */ 

.submit-button-container .block-editor-inner-blocks .wp-block:after {
    clear: both;
    content: ' ';
    display: block;
}

.submit-button-container .wp-block[data-align=left], .wp-block[data-align=right] {
    height: auto;
}