.notification-icon {
    width: 48px;
    height: 48px;
    bottom: 10px;
    position: fixed;
    cursor: pointer;
}


.notification-background-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-background-wrapper.signup-hidden {
    display:none;
}

.wp-block-push-notification-signup.popup {
    background: white;
    margin: auto;
    padding: 30px;
    z-index: 999999999999;
    box-shadow: 0 0 40px black;
    position: absolute;
    width: 40%;
    min-width: 360px;
}

.cancel-popup {
    padding: 5px 20px;
    cursor: pointer;
}

.popup .permission-status_message {
    display: block;
    clear: both;
    text-align: left;
    line-height: 1.2;
    font-size: medium;
}

.notification-icon.is-subscribed {
    width: 36px;
    height: 36px;
    opacity: 0.8;
}


.notification-description, .wp-block-push-notification-signup__categories {
    margin-bottom: 25px;
}

.notification-icon {
    opacity:0;
    transition:opacity 500ms;
}
.notification-icon.is-supported {
    opacity:1;
}

/* tooltip */
.notification-icon_tooltip {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    line-height: 1;
    transform: translateY(-50%) scaleX(0);
    font-size: 0.9em;
    z-index: -1;
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
}

.notification-icon:hover .notification-icon_tooltip {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
}

.is-subscribed .notification-icon_unsubscribed-tooltip {
    display: none;
}

.is-not-subscribed .notification-icon_subscribed-tooltip {
    display: none;
}

.cancel-popup.exit-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: darkgray;
    padding: 15px;
    font-size: 20pt;
}